@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700&display=swap');
*{
  font-family: 'Asap', sans-serif;
}

body{
  margin: 0;
  padding: 0;
  background: url("../img/b1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.login-box{
  max-width: 700px;
  float: none;
  margin: 250px auto;
}

.login-links{
  background: #99badd;
  padding: 30px;
}

.login-rechts{
  background: #fff;
  padding: 30px;
}

.form-control{
  background-color: transparent !important;
}
